[Desktop Entry]
Hidden=false
Exec=edeb
Icon=/usr/share/icons/edeb.png
Type=Application
Categories=System;
MimeType=application/x-deb;application/x-debian-package;
NoDisplay=false
StartupNotify=true
Comment=A simple interface to install .deb files.
Terminal=false
Name=eDeb
GenericName=Package Installer
Comment[en_US]=A simple interface to install .deb files.
