Package: edeb
Version: 1.3
Section: main
Priority: optional
Architecture: all
Depends: python-elementary, python-evas, python-ecore, python-edbus, python-edje, python-emotion, python-ethumb, python-pam
Maintainer: Anthony Cervantes
Description: eDeb (Deb Package Installer)
 A simple GUI to install .deb files.
